<ion-view view-title="Suspect Registration System">
    <ion-header-bar>
        <h1 class="title">Vehicle Detail</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="register()">Register Vehicle</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="mForm" novalidate>
            <div class="list card">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Type
                    </div>
                    <select ng-model="regData.vehicleType">
                        <option>Bike</option>
                        <option>Mini Van</option>
                        <option>Sedan</option>
                        <option>SUV</option>
                        <option>Saloon</option>
                        <option>Truck</option>
                        <option>Wagon</option>
                        <option>HatchBack</option>
                        <option>Hybrid/Electric</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Make
                    </div>
                    <select ng-model="regData.vehicleMake">
                        <option>Buggati</option>
                        <option>Cadillac</option>
                        <option>Chrysler</option>
                        <option>Daewoo</option>
                        <option>Ferrari</option>
                        <option>Honda</option>
                        <option>Hyundai</option>
                        <option>Nissan</option>
                        <option>Tesla</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Model</span>
                    <input type="text" ng-model="regData.vehicleModel" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Plate Number</span>
                    <input type="text" ng-model="regData.tagNumber" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Chasis No:</span>
                    <input type="text" ng-model="regData.chasisNo">
                </label>
                <label class="item item-input">
                    <span class="input-label">Engine No:</span>
                    <input type="text" ng-model="regData.engineNo">
                </label>

            </div>
            <div style="padding: 0px 10px;">
                <button class="button button-block button-positive" ng-disabled="mForm.$invalid" ng-click="registerVehicle()" type="button">
                    <i class="fa fa-check fa-lg"></i> Submit
                </button>
                <button class="button button-block button-dark" type="reset">
                    <i class="fa fa-remove fa-lg"></i> Cancel
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>