


<ion-view view-title="Stored Records">
    <ion-content>

        <ion-list>
        <div class="item item-divider item-default">

            <div class="text-right">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="  Search" ng-model="q" side="left">
                    <button class="button button-clear">
                        Cancel
                    </button>
                </label>
            </div>

        </div>
        <ion-item ng-repeat="suspect in suspects | filter:q as results">
            <a class="item item-avatar" ng-click="suspectModalShow({{suspect}})">
                <img ng-src="{{suspect.imageData}}">
                <h2>{{suspect.fname}} {{suspect.lname}}</h2>                


                <p> Tag Number- {{suspect.tagNumber}}, Vehicle - {{suspect.vehicleType}} {{suspect.vehicleMake}} {{suspect.vehicleModel}}</p> 

            </a>
            </ion-item>
            </ion-list>
            <ion-list class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>

            </ion-list>

    </ion-content>
</ion-view>
