<ion-modal-view ng-controller="suspectListCtrl as modalCtrl">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Vehicle Details</h1>
        <button class="button toast-close-button" ng-click="modal.hide()">
            <i class="fa fa-close fa-lg"></i>
        </button>
    </ion-header-bar>
    <ion-content class="padding" >
        <div class="list">
            <label class="item item-input">
                <span class="input-label">
                    <h3>Fist Name</h3>
                </span>
                <span class="input-label" data-ng-model="suspectObj.fname">  {{suspectObj.fname}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">
                    <h3>Last Name</h3>
                </span>
                <span class="input-label" ng-bind="suspectObj.lname">  {{suspectObj.lname}}</span>
            </label>


            <label class="item item-input">
                <span class="input-label"><h3>Plate Number</h3></span>
                <span class="input-label">{{suspectObj.tagNumber}}</span>
            </label>

            <label class="item item-input">
                <span class="input-label"><h3>Vehicle Type</h3></span>
                <span class="input-label" ng-bind="suspectObj.vehicleType">{{suspectObj.vehicleType}}</span>
            </label>

            <label class="item item-input">
                <span class="input-label"><h3>Vehicle Make</h3></span>
                <span class="input-label" ng-bind="suspectObj.vehicleMake">{{suspectObj.vehicleMake}}</span>
            </label>

            <label class="item item-input">
                <span class="input-label"><h3>Engine No</h3></span>
                <span class="input-label" ng-bind="suspectObj.engineNo">{{suspectObj.engineNo}}</span>
            </label>

            <label class="item item-input">
                <span class="input-label"><h3>Vehicle Model</h3></span>
                <span class="input-label" ng-bind="suspectObj.vehicleModel">{{suspectObj.vehicleModel}}</span>
            </label>


            <button class="button button-block" ng-click="suspectModalHide()">
                Close
            </button>
        </div>
    </ion-content>
</ion-modal-view>