<ion-view view-title="Capture">
    <ion-content>
        <div class="list card" style="max-width:300px; margin:auto; margin-top:20px;">
            <div class="item item-image">
                <img id="myImage" ng-src="{{imageSrcDisplay}}" style="max-width:250px">
            </div>
        </div>
        <div style="padding: 5px 10px;">
            <button class="button button-block button-positive" ng-click="uploadCapture()" ng-model="captureFiles">
                <i class="fa fa-camera fa-lg"></i> Take Picture
            </button>

            <button class="button button-block button-positive" ng-disabled="disableUpload" ng-click="upload()">
                <i class="fa fa-upload fa-lg"></i> Upload
            </button>
        </div>
    </ion-content>
</ion-view>
