<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">
    </ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{menuData.title}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-left item-icon-right" ng-repeat="item in menuData.items" ng-click="gotoUrl(item.name)" nav-clear menu-close>
          <i class="fa fa-angle-right dark icon fa-sm"></i>
          <span ng-class="item.menuTextClass">{{item.title}}</span>&nbsp;
          <i ng-class="item.iconRightClass" class="icon fa fa-chevron-right fa-sm stable"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
