<ion-view view-title="Assign Installer">
    <ion-header-bar>
        <h1 class="title">Assign Installer</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="register()">Assign Installer</button>
        </div>
    </ion-header-bar>
    
    <!--<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title">Assign Installer</h1>
    </ion-nav-buttons>-->
    <ion-content>
        
        <div class="item item-divider item-default">

                    <div class="text-right">
                            <button class="button" ng-click="loadNearestAgentFieldMap()">
                                Find Nearest Agent
                            </button>
                    </div>

                </div>
        <form name="mForm" novalidate>
            <div class="list card" ng-model="selectedCustomer">
                <label class="item item-input">
                    <span class="input-label">Customer Name</span>
                    <input type="text" value="{{SelectedCustomer.CustomerName}}" readonly>
                </label>

                <label class="item item-input">
                    <span class="input-label">Customer Address</span>
                    <input type="text" value="{{SelectedCustomer.Address}}" readonly>
                </label>
                 <label class="item item-input">
                    <span class="input-label">Customer Email</span>
                    <input type="text" value="{{SelectedCustomer.Email}}" readonly>
                </label>
                <label class="item item-input">
                    <span class="input-label">Customer Phone</span>
                    
                    <input type="text" value="{{SelectedCustomer.ContactPhone}}" readonly>
                </label>
                <label class="item item-input">
                    <span class="input-label">Product</span>
                    <input type="text" value="{{SelectedCustomer.ProductName}}" readonly>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Assign Installer
                    </div>
                    <div>
                        <select ng-model="salesData.InstallerId">
                            <option ng-repeat="agent in agentList" value="{{agent.Id}}">{{agent.Name}}</option>
                        </select>
                    </div>
                </label>

                
            <div style="padding: 0px 10px;">
                <button class="button button-block button-positive"  ng-click="updateInstaller()" type="button">
                    <i class="fa fa-check fa-lg"></i> Submit
                </button>
                <button class="button button-block button-dark" type="reset">
                    <i class="fa fa-remove fa-lg"></i> Cancel
                </button>
            </div>
            </div>
        </form>
    </ion-content>
</ion-view>