<ion-view view-title="Assigned Jobs">

    <ion-header-bar>
        <h1 class="title">Assigned Jobs</h1>
        <div class="buttons">
            <button class="button button-clear">Assigned Jobs</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <a ng-repeat="job in assignedJobsData" ng-click="showBottomSheet(job)" style="text-decoration:none" href="javascript:void(0)">
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col"><b>Customer</b> : {{job.Customer.CustomerFName}} {{job.Customer.CustomerFName}}</div>
                        <div class="col"><b>Sales Agent</b> : {{job.SalesAgent.Firstname}} {{job.SalesAgent.LastName}}</div>
                    </div>

                    <div class="row">
                        <div class="col"><b>Address</b> : {{job.Customer.Address}}</div>
                        <div class="col"><b>Date</b> : {{job.OrderDate | date:'dd/MM/yyyy @ h:mma'}}</div>
                    </div>

                    <div class="row">
                        <div class="col"><b>Phone</b> : {{job.ContactPhoneNumber}}</div>
                        <div class="col" ng-if="job.StatusId == 4"><b>Status</b> : Incomplete</div>
                        <div class="col" ng-if="job.StatusId == 5"><b>Status</b> : Completed</div>
                    </div>
                </div>
            </div>
        </a>
    </ion-content>
</ion-view>