<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Login</h1>
        <button class="button toast-close-button" ng-click="modal.hide()">
            <i class="fa fa-close fa-lg"></i>
        </button>
    </ion-header-bar>
    <ion-content class="padding" ng-controller="menuCtrl as menu">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">
                    <i class="fa fa-envelope-o fa-lg"></i>
                    Email
                </span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">
                    <i class="fa fa-user-secret fa-lg"></i>
                    Password
                </span>
                <input type="password">
            </label>
            <button class="button button-block">
                login
            </button>
        </div>
    </ion-content>
</ion-modal-view>