<ion-view view-title="Login" cache-view="false">
    <ion-header-bar>
        <h1 class="title">Login</h1>
       
    </ion-header-bar>
    <ion-content>
        <form name="loginForm" >
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginData.username" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password" required>
                </label>

            </div>
            <div style="padding: 0px 10px;">
                <button class="button button-block button-positive" ng-click="login()"  ng-disabled="loginForm.$invalid" type="submit">
                    <i class="fa fa-check fa-lg"></i> Submit
                </button>
                <button class="button button-block button-dark" type="reset">
                    <i class="fa fa-remove fa-lg"></i> Reset
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>