<ion-view view-title="Customer Order" cache-view="false">
    
    <ion-header-bar>
        <h1 class="title">Customer Order</h1>
        <div class="buttons">
            <button class="button button-clear" >Customer Order</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <form name="mForm" novalidate>
           
            <div class="list card">

                <div class="item item-input-inset">

                    <div class="item-input-wrapper" style="padding-right:5px; margin-right:5px">
                        <div class="input-label">
                            Product
                        </div>
                        <select ng-model="salesData.sales.salesProduct.productId">
                            <option ng-repeat="product in productList" value="{{product.Id}}" required>{{product.Name}}</option>
                        </select>
                    </div>
                    
                </div>
                <div class="item item-input-inset">

                    <div class="item-input-wrapper" style="padding-right:5px; margin-right:5px">
                        <div class="input-label">
                            Quantity
                        </div>
                        <input type="text" ng-model="salesData.sales.salesProduct.quantity" required/>

                    </div>
                    
                </div>

            </div>
            <div style="padding: 0px 10px;">
                <button class="button button-block button-positive" ng-disabled="mForm.$invalid" ng-click="createOrder()" type="button">
                    <i class="fa fa-check fa-lg"></i> Submit
                </button>
                <button class="button button-block button-dark" type="reset">
                    <i class="fa fa-remove fa-lg"></i> Cancel
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>