<ion-view view-title="Add Sales" cache-view="false">
    
     <ion-header-bar>
        <h1 class="title">Add Sales</h1>
        <div class="buttons">
            <button class="button button-clear" >Add Sales</button>
        </div>
    </ion-header-bar>
   
    <ion-content>
       
        
        <ion-list>
        <div class="item item-divider item-default">

            <div class="text-right">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="  Search" ng-model="q" side="left">
                    <button class="button button-clear">
                        Cancel
                    </button>
                </label>
            </div>

        </div>
        <ion-item ng-repeat="customer in customersList | filter:q as results">
            <a class="item item-avatar" ng-click="populateCustomerData({{customer}})">
                 <h2>{{customer.CustomerFName}} {{customer.CustomerLName}} </h2>
                <p>
                    <b>Address: </b> {{customer.Address}}<br/>
                    <b>Phone:</b>{{customer.PhoneNumber}}<br/>
                    <b>Email:</b>{{customer.Email}}
                </p>

            </a>
            </ion-item>
            </ion-list>
            <ion-list class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>

            </ion-list>


    </ion-content>
</ion-view>