<style type="text/css">
    .angular-google-map-container {
        min-height: 600px;
    }
    
    .angular-google-map-containerf {
        height: 100% !important;
    }
    
    .angular-google-map-containerv {
        heightv: 100% !important;
        widthv: 100% !important;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
</style>

<ion-modal-view ng-controller="incidentListCtrl as modalCtrl" cache-view="false">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Incident Locator</h1>
        <button class="button toast-close-button" ng-click="modal.hide()">
            <i class="fa fa-close fa-lg"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <ui-gmap-google-map center="map.center" zoom="map.zoom" >
            <ui-gmap-markers  models="randomMarkers" coords="'self'"  icon="'randomMarkers.icon'">
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </ion-content>
</ion-modal-view>