<style type="text/css">
    .angular-google-map-container {
        min-height: 600px;
    }
    
    .angular-google-map-containerf {
        height: 100% !important;
    }
    
    .angular-google-map-containerv {
        heightv: 100% !important;
        widthv: 100% !important;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
</style>

<ion-view view-title=" Locator" cache-view="false">
     <ion-header-bar class="bar-positive">
        <h1 class="title">Field Agent Locator</h1>
    </ion-header-bar>
    <ion-content>
        <ui-gmap-google-map center="map.center" zoom="map.zoom" >
            <ui-gmap-markers  models="randomMarkers" coords="'self'" icon="'icon'" events="marker.events">
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </ion-content>
</ion-view>