<style type="text/css">
    
    .angular-google-map-container {
/*
        height: 100% !important;
*/
        min-height: 50em;
        width: 100%;
        height: 100%;
    }
</style>

<ion-view view-title="Officer Route">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" >
        <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'randomMarkers.icon'">
        </ui-gmap-markers>
    </ui-gmap-google-map>
</ion-view>