<ion-view view-title="ssign Installation" cache-view="false">
  
    <ion-header-bar>
        <h1 class="title">Assign Installation</h1>
        <div class="buttons">
            <button class="button button-clear">Assign Installation</button>
        </div>
    </ion-header-bar>

    <ion-content>


        <ion-list>
            <div class="item item-divider item-default">

                <div class="text-right">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" placeholder="  Search" ng-model="q" side="left">
                        <button class="button button-clear">
                            Cancel
                        </button>
                    </label>
                </div>

            </div>
            <ion-item ng-repeat="installation in openInstallationList | filter:q as results">
                <a class="item item-avatar" ng-click="populateCustomerData({{installation}})">
                    <h2><b>Customer Name: </b>{{installation.CustomerName}} </h2>
                    <p>
                        <b>Address: </b> {{installation.Address}}
                        <br/>
                        <b>Phone: </b>{{installation.PhoneNumber}}
                        <br/>
                        <b>Email: </b>{{installation.Email}}
                        <br/>
                        <b>Assigned Installer: </b>{{installation.InstallerName}}
                    </p>

                </a>
            </ion-item>
        </ion-list>
        <ion-list class="animate-repeat" ng-if="results.length == 0">
            <strong>No results found...</strong>

        </ion-list>


    </ion-content>
</ion-view>