<ion-view view-title="Register User">
    <ion-header-bar>
        <h1 class="title">User Registration</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="register()">Register User</button>
        </div>
    </ion-header-bar>
    
    <ion-content>
        <form name="mForm" novalidate>
            <div class="list card">
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" ng-model="regData.firstname" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text" ng-model="regData.lastname" required>
                </label>

                <label class="item item-input item-select" ng-show="regData.roleId != customerRoleId">
                    <div class="input-label">
                        User Type
                    </div>
                    <select ng-model="regData.roleId">
                        <option ng-repeat="role in roles" value="{{role.Id}}">{{role.Name}}</option>
                    </select>
                </label>

                <label class="item item-input" ng-show="regData.roleId != customerRoleId">
                    <span class="input-label">User Name</span>
                    <input type="text" ng-model="regData.username" required>
                </label>
                <label class="item item-input" ng-show="regData.roleId != customerRoleId">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="regData.passwrod" required>
                </label>
                <label class="item item-input" ng-show="regData.roleId != customerRoleId">
                    <span class="input-label">Confirm Password</span>
                    <input type="text" ng-model="regData.cpassword" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone Number</span>
                    <input type="text" ng-model="regData.contactPhone" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="regData.email" required>
                </label>
                <label class="item item-input item-select" ng-show="regData.roleId == customerRoleId">
                    <div class="input-label">
                        State
                    </div>
                    <select  ng-change="getStateLga(regData.stateId)" ng-model="regData.stateId">
                        <option ng-repeat="state in states" value="{{state.Id}}">{{state.Name}}</option>
                    </select>
                </label>
                <label ng-show="regData.roleId == customerRoleId" class="item item-input item-select">
                    <div class="input-label">
                        Lga
                    </div>
                    <select ng-model="regData.lgaId">
                        <option ng-repeat="lga in lgas" value="{{lga.Id}}">{{lga.Name}}</option>
                    </select>
                </label>

                <label class="item item-input item-select" ng-show="regData.roleId == customerRoleId">
                    <span class="input-label">
                       City
                    </span>
                    <input type="text" ng-model="regData.city" required>
                </label>


                <label class="item item-input" ng-show="regData.roleId == customerRoleId">
                    <span class="input-label">Address</span>
                    <input type="text" ng-model="regData.address" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Comment</span>
                    <textarea rows="4" ng-model="regData.comment"></textarea>
                </label>

            </div>
            <div style="padding: 0px 10px;">
                <button class="button button-block button-positive"  ng-click="addCustomerDetail()" type="button">
                    <i class="fa fa-check fa-lg"></i> Submit
                </button>
                <button class="button button-block button-dark" type="reset">
                    <i class="fa fa-remove fa-lg"></i> Cancel
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>