<ion-view  view-title="Customer Map">
  <ion-header-bar>
    <h1 class="title">Customer Map</h1>
  </ion-header-bar>
  <ion-content>
   
    <div style="text-align:center; margin-top:10px;">
      Map Direction <label class="toggle toggle-assertive">
        <input type="checkbox" ng-model="isText">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label> Text Direction
    </div>
    <div class="card" ng-hide="isText">
      <div ui-map="data.myMap" ui-options="data.mapOptions" style="height:500px"></div>
    </div>
    <div class="card" ng-show="isText">
      <div style="margin: 20px; width:auto; overflow:auto;height:auto" id="directions-panel"></div>
    </div>
  </ion-content>
</ion-view>
