<ion-view view-title="{{navTitle}}">
    
  <ion-header-bar class="bar-subheader">
    <div>Suspect Registration System</div>
  </ion-header-bar>
    
  <ion-content delegate-handle="root1-scroll-handle">
    <ul class="list">
      <a class="item active" ui-sref="root1">Root1</a>
      <a class="item" ui-sref="root2">Root2</a>
    </ul>
  </ion-content>
    
</ion-view>