<style type="text/css">
    .angular-google-map-container {
        min-height: 400px;
    }
    
    .angular-google-map-container {
        height: 100%;
    }
</style>

<ion-view view-title="Officer Route">
    <!--<ion-content data-tap-disabled="true">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    </ion-content>-->

        <ion-content  ng-init="initialize()">
<!--    <ion-content>-->

        <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.markersEvents"> 
          <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">
 skype
          </ui-gmap-marker>        
        </ui-gmap-google-map>
                     <div id="map" data-tap-disabled="true"></div>
<!--        <ui-gmap-google-map center="map.center" zoom="map.zoom"></ui-gmap-google-map>-->

    </ion-content>
</ion-view>